.about-background {
background: url("https://images.unsplash.com/photo-1452621946466-c0f2ff2ff100?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80");
height: 320vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.all-about {
  background-color: #85a257;
  width: 70vw;
  margin-left: 13vw;
  height: 14vw;
  font-family: "Josefin Slab", serif;
  font-size: 2vw;
  text-align: center;
  padding-top: 2vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

.about-title {
  font-family: "Vast Shadow", cursive;
  color: #e88b44;
  font-size: 6.2vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
  width: 55vw;
  margin-top: 4.5vw;
  height: 5vw;
  margin-left: 23vw;
  text-align: center;
}
.check-dev {
  font-family: "Staatliches", cursive;
  color: #fcc54f;
  font-size: 4.2vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
  margin-top: 5vw;
}
.hand-down {
  color: #e88b44;
  font-size: 5vw;
  margin-top: 2.5vw;
}
.line-1 {
  width: 50vw;
  background-color: rgb(255, 255, 255);
  height: 0.1vw;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}
.line-2 {
  width: 50vw;
  background-color: rgb(255, 255, 255);
  height: 0.15vw;
  margin: 0 auto;
  margin-top: 2vw;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}
.the-devs {
  margin-top: 50vw;
  font-size: 2vw;
  font-family: "Staatliches", cursive;
  margin-bottom: 18vw;
  text-align: center;
  padding: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  color: rgb(255, 255, 255);
  text-shadow: 1.1px 1.1px black;
  background-color: rgba(21, 21, 21, 0.379);
  width: 92%;
}
.hand-down:hover {
  font-size: 6vw;
}

.dev-div {
  background-color: rgba(255, 255, 255, 0.927);
  width: 70vw;
  height: 40vw;
  text-align: center;
  margin-bottom: 9vw;
  margin-left: 15vw;
  font-family: "Staatliches", cursive;
}
.dev-title {
font-size: 5.5vw;
padding-top: .5vw;
height: 5vw;
}
.about-dev {
font-size: 1.5vw;
background-color: rgba(0, 0, 0, 0.783);
color: rgb(255, 255, 255);
text-shadow: 1px 1px black;
height: 25.6vw;
padding: 2vw;
padding-top: 3.25vw;
letter-spacing: .1vw;
word-spacing: .5vw;
font-family: "Josefin Slab", serif;
line-height: 2vw;


}
.airplane {
color: rgb(249, 131, 151);
}
.paw {
  color: rgb(114, 78, 165);
}
.train {
color: rgb(65, 217, 244)
}
.notes {
color: rgb(75, 196, 14);
}
.shelby-pic {
  position: absolute;
  left: 15vw;
  width: 21vw;
  top: 100vw;
}
.liz-pic {
position: absolute;
left: 15vw;
width: 21vw;
top: 198vw;
}
.evyn-pic {
  position: absolute;
  left: 15vw;
  width: 21vw;
  top: 149vw;
  }
  .mitch-pic {
    position: absolute;
    left: 15vw;
    width: 21vw;
    top: 247vw;
    }
    @media only screen and (max-width: 770px) {
      .total-about {
        margin-top: 80px;
      }
      .shelby-pic {
        position: absolute;
        left: 16vw;
        margin-top: 5vw;
      }
      .evyn-pic {
        position: absolute;
        left: 16vw;
        margin-top: 5vw;
        
      }
      .liz-pic {
        position: absolute;
        left: 16vw;
        margin-top: 5vw;
        
      }
      .mitch-pic {
        position: absolute;
        left: 16vw;
        margin-top: 5vw;
        
      }

    }
    
    @media only screen and (max-width: 550px) {
      .total-about {
        margin-top: 80px;
      }
      .shelby-pic {
        position: absolute;
        left: 16vw;
        margin-top: 9vw;
        
      }
      .evyn-pic {
        position: absolute;
        left: 16vw;
        margin-top: 9vw;
       
      }
      .liz-pic {
        position: absolute;
        left: 16vw;
        margin-top: 9vw;
       
      }
      .mitch-pic {
        position: absolute;
        left: 16vw;
        margin-top: 9vw;
        
      }
    }
    
    @media only screen and (max-width: 400px) {
      .total-about {
        margin-top: 80px;
      }
      .shelby-pic {
        position: absolute;
        margin-top: 70px;
        left: 16vw;
        width: 14vw;
      }
       .evyn-pic {
        position: absolute;
        margin-top: 70px;
        left: 16vw;
        width: 14vw;
      }
      .liz-pic {
        position: absolute;
        margin-top: 70px;
        left: 16vw;
        width: 14vw;
      }
      .mitch-pic {
        position: absolute;
        margin-top: 70px;
        left: 16vw;
        width: 14vw;
      }
    }