.product {
  border: 2px solid rgb(72, 72, 72, 0.2);
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(165, 165, 165, 0.584);
  text-align: center;
  margin: 1vw 1vh 1vw 1vh;
  background-color: white;
}

.product-image {
  width: 20vw;
  height: 30vw;
  object-fit: contain;
}

.product-name {
  font-family: "Staatliches", cursive, serif;
  font-size: 2vw;
  text-decoration: none;
  color: #2b2b2b;
  border: none;
  padding: 0 1vh 0 1vh;
}

.product-price {
  font-family: "Staatliches", cursive;
  color: #555250;
  font-size: 3vw;
}

.product:hover {
  transform: scale(1.1);
  background-color: white;
}

@media only screen and (max-width: 600) {
  /* .product-image {
    width: 30vw;
    height: 40vw;
  } */
}
