/* .product-name {
  color: #edb63b;
  font-family: "Staatliches", cursive;
  font-size: 30px;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}
.price {
  margin: 0 auto;
  text-align: start;
  color: #edb63b;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}
.description {
  background-color: white;
  box-shadow: 10px 8px 20px 30px white;
  margin: 10vw 0vw 0vw 2vw;
  padding: 2vw;
  width: 250px;
  color: #060606;
  font-family: "Josefin Slab", serif;
  font-size: 1.5vw;
  border: orchid solid;
} */
