.page-title {
  text-align: center;
  margin-top: 5vw;
  padding-top: 16px;
  padding-bottom: 20px;
  font-family: "Vast Shadow", cursive;
  color: #e88b44;
  font-size: 5vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}

.products-container {
  margin: 20px;
  max-width: 100%;
  display: grid;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.products {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  row-gap: 2vw;
  max-width: 100%;
  justify-content: start;
}

.product-image {
  border: 2px solid rgb(72, 72, 72, 0.2);
  padding: 2vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(165, 165, 165, 0.584);
  width: 20vw;
  height: 30vw;
  object-fit: contain;
}

.product-name {
  font-family: "Staatliches", cursive, serif;
  font-size: 2vw;
  text-decoration: none;
  color: #2b2b2b;
  border: none;
}

.filter {
  font-family: "Josefin Slab", serif;
  font-size: 2vw;
  display: flex;
  justify-content: flex-end;
  margin: 2vw 2vw 2vw 2vw;
  text-decoration: gray;
}

.product-image:hover {
  transform: scale(1.1);
  background-color: white;
}

@media only screen and (max-width: 1200px) {
  .products {
    display: block;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
  }
  .price {
    margin-bottom: 25px;
    color: #060606;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
