.list-back{
  background: url("https://images.unsplash.com/photo-1452621946466-c0f2ff2ff100?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80");
height: 170vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.page-title {
  text-align: center;
  margin-top: 7vh;
  padding-top: 16px;
  padding-bottom: 20px;
  font-family: "Vast Shadow", cursive;
  color: #e88b44;
  font-size: 5rem;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}

.products-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 100%;
  display: grid;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.728);
  padding-bottom: 7vw;
  
}

.products {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 2vw;
  max-width: 100%;
  justify-content: start;
 
  
}

.filter {
  font-family: "Josefin Slab", serif;
  font-size: 2vw;
  display: flex;
  justify-content: flex-end;
  margin: 2vw 2vw 2vw 2vw;
  text-decoration: gray;
  
}

@media only screen and (max-width: 1200px) {
  .list-back {
    height: 100%;
  }
  .products-container {
    width: 100vw;
  }
  .products {
    width: 100%;
    grid-template-columns: 50vw 50vw;
    justify-content: space-around;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 650px) {
  .page-title {
    font-size: 3rem;
  }
  .products {
    grid-template-columns: 90vw;
  }
  .list-back {
    height: 100%;
  }
  

}

@media only screen and (max-width: 400px) {
  .page-title {
    font-size: 2rem;
    margin-top: 8vh;
  }
  .list-back {
    height: 100%;
  }
}
