.page-title {
  text-align: center;
  margin-top: 5vw;
}

.products-container {
  margin: 80px;
  max-width: 100%;
  display: grid;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  row-gap: 5vw;
  max-width: 100%;
  justify-content: start;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin: 2vw 2vw 2vw 2vw;
}


@media only screen and (max-width: 1200px) {
  .products {
    display: block;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
  }
  .price {
    margin-bottom: 25px
  }
}
