.shopping-cart {
  margin: 5vh 10vw 15vh 10vw;
}
.cart-title {
  font-family: "Vast Shadow", cursive;
  color: #e88b44;
  font-size: 6.2vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
  width: 55vw;
  margin-top: 6vw;
  margin-bottom: 5vw;
  height: 5vw;
  margin-left: 22vw;
  text-align: center;
}
.shopping-cart-items {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column wrap;
  padding: 3vh 2vw 3vh 2vw;
  width: 50vw;
  margin: 0 auto;
}

.item-link {
  width: 100%;
  display: flex;
  color: black;
  text-align: center;
  font-size: 1.5vw;
  background-color: white;
}
.totals {
  background-color: whitesmoke;
  width: 52vw;
  margin: 0 auto;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vw;
  line-height: 1.5vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1vw;
}

.cart-butt {
  border: none;
  background-color: tomato;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 5vw;
  height: 2vw;
  margin-top: 1vw;
  border-radius: 10px;
  font-size: 1vw;
}
.cart-butt:hover {
  background-color: rgb(247, 154, 138);
  transform: scale(1.1);
}

@media only screen and (max-width: 650px) {
  .shopping-cart {
    font-size: 5vw;
  }
  .shopping-cart-items {
    width: 90%;
  }
  .cart-title {
    font-size: 6vw;
    margin-top: 20vw;
  }
  .totals {
    font-size: 2.5vw;
    height: 20vw;
    width: 92.5%;
    line-height: 2.5vw;
  }
  .item-link {
    font-size: 2.5vw;
    height: 30vw;
    background-color: white;
  }
  .cart-butt {
    width: 20%;
    height: 25%;
    font-size: 2.5vw;
  }
}
