
.all-detail {
background-color: white;
width: 60vw;
margin: 0 auto;
}

.product-detail {
  margin-top: 8vw;
  margin-left: 3vw;
}

.name {
  font-family: 'Staatliches', cursive;
  color: #555250;
  font-size: 4vw;
  
}
.price {
  font-family: 'Staatliches', cursive;
  color: #555250;;
  font-size: 3vw;
  
}
.description {
  background-color: #ffffff;
  box-shadow: none;
  padding-top: 2vw;
  width: 19vw;
  height: 22vw;
  color: #060606;
  font-family: "Josefin Slab", serif;
  font-size: 1.5vw;
  
}
.carousel-detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  display: flex;
  justify-content: center;
  margin-left: 22vw;
  margin-top: -24.5vw;
}

.carousel-slide-detail {
  display: none;
  margin: 1vw 5vw 0.5vw 5vw;
  width: 20vw;
  max-height: 30vw;
  height: auto;
  transition: transform 0.5s ease-in-out;

  
}
.carousel-slide-active-detail {
  display: block;
  transition: transform 0.5s ease-in-out;
}

.indicators-detail {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.carousel-nav-detail {
  display: flex;
  flex-flow: row wrap;
}
.carousel-indicator-detail {
  background-color: grey;
  border: 1px solid black;
  margin: 1px;
  width: 25px;
  height: 5px;
  justify-self: baseline;
}

.carousel-indicator-active {
  background-color: rgb(57, 57, 57);
}

/* .cart {
  margin: 0 50vw 0vw 70vw;
  height: 25px;
  width: 25px;
} */
.cart-button {
  border: none;
  background-color: white;
  font-size: 4vw;
  position: absolute;
  left: 28vw;
  top: 35vw;
  color: rgb(16, 154, 16);

 
 
}

.deet-butt {

margin-left: 47vw;
margin-bottom: 3vw;
padding-bottom: 1vw;
}

.edit-button {
  border: none;
  font-size: 1.2vw;
  background-color: transparent;
  


}
.trash-button {
  border: none;
  font-size: 1.2vw;
  background-color: transparent;
  margin-left: 4vw;

}
.edit-button:hover {

  transform: scale(2.2);
}
.trash-button:hover {

  transform: scale(2.2);
}

.cart-button:hover {
transform: scale(2.2);
}