.name {
  margin-top: 8vw;
  color: #EDB63B;
  font-family: 'Staatliches', cursive;
  font-size: 4.2vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}
.price {
  color: #EDB63B;
  font-family: 'Staatliches', cursive;
  font-size: 2.5vw;
  text-shadow: 1.5px 1.5px rgb(72, 72, 72);
}
.description {
  color: #060606;
  font-family: 'Staatliches', cursive;
  font-size: 1.5vw;
}
