.footer {
  color: grey;
  background-color: rgba(57, 57, 57, 0.865);
  height: 35vw;
  margin-top: 10vw;
  text-align: center;
  /* position: absolute;
  bottom: -1vw; */
}
.emply {
margin-left: -80vw;
margin-top: -16vw;
}
.employee-butt{
  color: #d8d8d8;
  font-size: 1.6vw;
  background-color: rgba(179, 179, 179, 0.427);
  border: transparent;
  padding: .6vw;
  padding-bottom: .9vw;
  border-radius: 15px;
  font-family: 'Staatliches', cursive;
  margin-left: -80vw;
  margin-top: -16vw;
}
.employee-word {`
  color: #cdcdcd;
  font-size: 1vw;
}
.employee-icon {
  font-size: 5vw;
  color: #e88b44;
  background-color: transparent;
}
.our-name {
  padding-top: 1vw;
}
.social-icons {
  font-size: 2.9vw;
}
.facebook {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
  color: rgb(36, 126, 216);
}
.insta {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(227, 123, 244);
}
.twit {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(169, 212, 255);
}
.email-footer {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(237, 206, 30);
}
.total-help {
  margin-top: 2vw;
  color: rgb(228, 228, 228);
}
.footer-help {
  font-size: 1vw;
}
.help-icon {
  font-size: 2vw;

  color: #EDB63B;
  }
  .employee-butt:hover{
    transform: scale(1.05);
  }
  .help-icon:hover {
    transform: scale(1.1);
  }
  .insta:hover {
    transform: scale(1.1);
    }
    .facebook:hover {
      transform: scale(1.1);
      }
      .twit:hover {
        transform: scale(1.1);
        }
        .email-footer:hover {
          transform: scale(1.1);
          }

}

