.footer {
  color: grey;
  background-color: rgba(57, 57, 57, 0.865);
  height: 40vw;
  margin-top: 10vw;
  text-align: center;
}
.emply {
  margin-left: -80vw;
  margin-top: -16vw;
  color: #d8d8d8;
  font-size: 1.6vw;
  background-color: rgba(179, 179, 179, 0.427);
  border: transparent;
  border-radius: 15px;
  font-family: "Staatliches", cursive;
  margin-left: -80vw;
  margin-top: -25vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-top: 0.01vw;
  padding-bottom: 0.01vw;
}
.employee-word {
  color: #cdcdcd;
  font-size: 1.3vw;
}
.employee-icon {
  font-size: 5vw;
  color: #e88b44;
  background-color: transparent;
}
.our-name {
  padding-top: 1vw;
}
.social-icons {
  font-size: 2.9vw;
}
.facebook {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
  color: rgb(36, 126, 216);
}
.insta {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(227, 123, 244);
}
.twit {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(169, 212, 255);
}
.email-footer {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(237, 206, 30);
}
.total-help {
  margin-top: 2vw;
  color: rgb(228, 228, 228);
}
.footer-help {
  font-size: 1vw;
}
.help-icon {
  font-size: 2vw;

  color: #edb63b;
}
.employee-butt:hover {
  transform: scale(1.05);
}
.help-icon:hover {
  transform: scale(1.1);
}
.insta:hover {
  transform: scale(1.1);
}
.facebook:hover {
  transform: scale(1.1);
}
.twit:hover {
  transform: scale(1.1);
}
.email-footer:hover {
  transform: scale(1.1);
}

.emply:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 700px) {
  .footer {
    width: 100vw;
    padding: 1vw;
    font-size: 3vw;
    height: 60vw;
  }
  .our-name {
    font-size: 3vw;
  }
  .social-icons {
    font-size: 6vw;
  }
  .help-icon {
    font-size: 3vw;
  }
  .footer-help {
    font-size: 2vw;
  }
  .emply {
    width: 20%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}
