.blur {
  margin: 0 auto;
  /* background-color: #726459d7;
box-shadow: .5vw 1vw .5vw 1.4vw  #726459d7; */
  height: 23vw;
  width: 53vw;
}
.carousel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 2vw;
  width: 45vw;
}

.carousel-slide {
  display: none;
  margin: 2vw 5vw 0.5vw 5vw;
  width: 100vw;
  max-height: 30vw;
  height: auto;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
.carousel-slide-active {
  display: block;
  transition: transform 0.5s ease-in-out;
}

.indicators {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  filter: none;
  align-items: center;
}
.carousel-nav {
  display: flex;
  flex-flow: row wrap;
  filter: none;
  margin-top: -4vh;
}
.carousel-indicator {
  background-color: rgba(128, 128, 128, 0.831);
  border: .1vw solid rgba(41, 41, 41, 0.68);
  margin: .1vw;
  width: 2.5vw;
  height: .3vw;
  justify-self: baseline;
}

.carousel-indicator-active {
  background-color: rgb(57, 57, 57);
}
.lefty {
  color: rgb(133, 133, 133);
  padding: 0vw 0.5vw 0 0.5vw;
  font-size: 1.2vw;
}
.lefty:hover {
  color: chocolate;
}
@media only screen and (max-width: 1200px) {
  .lefty {
   font-size:  10px;
  }

}

@media only screen and (max-width: 650px) {
  .lefty {
    font-size:  8px;
   }
}