.product-edit {
  width: 55vw;
  margin: 0 auto;
  margin-top: 5vw;
  background-color: rgb(230, 230, 230);
  padding: 2vw;
  font-family: "Staatliches", cursive;
  border: none;
}
.edit-link {
  font-family: "Staatliches", cursive;
  font-size: 1vw;
  margin-bottom: 0.5vw;
  border: none;
  width: 35vw;
  margin-left: 1vw;
}
.edit-form {
  font-size: 1vw;
  margin-bottom: 0.5vw;
  border: none;
  width: 40vw;
}
.edit-image {
  font-size: 1vw;
  margin-bottom: 0.5vw;
  border: none;
}
.input-edit {
  font-size: 1vw;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  border: none;
  width: 40vw;
}
