.product-edit {
  width: 55vw;
  margin: 0 auto;
  margin-top: 10vw;
  background-color: rgb(230, 230, 230);
  padding: 2vw;
  font-family: "Staatliches", cursive;
  border: none;
}
.edit-link {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.5vw;
  border: none;
  width: 35vw;
  margin-left: 1vw;
}
.edit-form {
  font-size: 1vw;
  margin-bottom: 0.5vw;
  border: none;
  width: 40vw;
}
.edit-image {
  height: 40vh;
  width: auto;
  margin-bottom: 0.5vw;
  border: none;
}
.input-edit {
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  border: none;
  width: 40vw;
}

@media only screen and (max-width: 1024) {
  .edit-link,
  .input-edit,
  .edit-form {
    width: 100%;
  }
}

@media only screen and (max-width: 550) {
  .product-edit {
    width: 100vw;
    margin: 0;
  }
}
