.form-container {
  background-color: #E9E4BD;
  padding-bottom: 2vw;
  padding-top: 1vw;
  font-size: 1.5vw;
  color: rgb(58, 58, 58);
  width: 50vw;
  margin-left: 19%;
  height: 30vw;
  margin-top: 8vw;

}
.hey {
width: 20vw;
}
.total-sign {
  font-family: 'Josefin Slab', serif;
  display: flex;
  flex-direction: column;
  width: 1vw;
  height: 12vw;
  text-align: center;
  justify-content: center;
  margin-left: 25vw;
  margin-top: -20vw;
   justify-content: space-between;
  
 
}
.label {

padding-bottom: 3vw;
margin-top: 5vw;
margin-bottom: 3vw;
font-size: 2vw;


}
.input {
  border: none;
  margin-top: 1vw;
  margin-bottom: 3vw;
  width: 15vw;
  height: 1.5vw;

  
  }
  .sign-button {
    margin-left: 5vw;
    margin-top: 1vw;
    width: 5vw;
    height: 2vw;
    border-radius: 25px;
    border: none;
    background-color: #E88B44;

  }
  .sign-button:hover {
    background-color: #f2b17f;
  }
  .input:hover {
  background-color: rgb(242, 242, 242);
  }
  .dont-have {
 
  font-size: .8vw;
  margin-top: 15vw;
  margin-left: 2vw;
  }
  .sign-up {
    font-size: .8vw; 
  }
