.form-container {
  background-color: #E9E4BD;
  padding-bottom: 2vw;
  padding-top: 1vw;
  font-size: 1.5vw;
  color: rgb(58, 58, 58);
  width: 60vw;
  margin-left: 19%;
  height: 20vw;
  margin-top: 5vw;

}