.in-form-container {
  background-color: #e9e4bd;
  padding-bottom: 2vw;
  padding-top: 1vh;
  font-size: 1rem;
  color: rgb(58, 58, 58);
  margin: 0 20vw 0 20vw;
  height: 50vh;
  margin-top: 14vh;
  display: flex;
  flex-flow: row wrap;
}
.hey-there {
  width: 25vw;
}
.total-sign {
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.signin-form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.signin-label {
  font-size: 3rem;
}
.input {
  border: none;
  margin-top: 1vw;
  margin-bottom: 3vw;
  width: 15vw;
}
.sign-button {
  border-radius: 25px;
  width: 20%;
  border: none;
  background-color: #e88b44;
}
.sign-button:hover {
  background-color: #f2b17f;
}
.input:hover {
  background-color: rgb(242, 242, 242);
}
.dont-have {
  font-size: 0.8rem;
  margin-left: 2vw;
}
.sign-up {
  font-size: 0.8rem;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 700px) {
  .in-form-container {
    width: 100vw;
    flex-flow: row wrap;
    margin: 10vh 0 0 0;
  }
  .hey-there {
    width: 50%;
  }
  .total-sign {
    width: 40%;
    padding: 0;
    z-index: 50;
  }
  .input {
    width: 70%;
    font-size: 1rem;
  }
  .signin-label {
    font-size: 2rem;
  }
  .sign-button {
    width: 40%;
  }
  .dont-have {
    margin-top: vw;
    margin-left: 7vw;
  }
}

