.menu {
  display: flex;
  flex-direction: column;
  width: 9vw;
  text-align: center;
  /* justify-self: flex-start; */
  position: absolute;
  left: 0;
  top: 100%;
  font-family: "Josefin Slab", serif;
  z-index: 100;
}

.menu-link {
  background-color: rgba(232, 232, 232, 0.927);
  padding-bottom: 2vw;
  padding-top: 1vw;
  font-size: 1.5vw;
  color: rgb(58, 58, 58);
  /* display: none; */
}
.menu-link:hover {
  background-color: rgb(199, 199, 199);
}

.menu-enter {
  max-height: 0px;
}
.menu-enter-active {
  max-height: 1000px;
  transition: max-height 1000ms linear;
}
.menu-exit {
  max-height: 1000px;
}
.menu-exit-active {
  max-height: 0px;
  transition: max-height 1000ms linear;
}
