.menu {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  position: absolute;
  left: 0;
  top: 100%;
  font-family: "Josefin Slab", serif;
  z-index: 100;
  background-color: rgba(232, 232, 232, 0.927);
}

.menu-link {
  padding: 2vw;
  font-size: 1.5rem;
  color: rgb(58, 58, 58);
}
.menu-link:hover {
  background-color: rgb(199, 199, 199);
}

.menu-enter {
  transform: translateX(-100%);
}
.menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.menu-exit {
  transform: translateX(0);
}
.menu-exit-active {
  transform: translateX(-100%);
  transition: transform 0.3s linear;
}

@media only screen and (max-width: 1024px) {
  .menu {
    width: auto;
    top: 110%;
  }
}
