.menu {
  display: flex;
  flex-direction: column;
  width: 9vw;
  text-align: center;
  position: absolute;
  left: 0;
  top: 100%;
  font-family: "Josefin Slab", serif;
  z-index: 100;
}

.menu-link {
  background-color: rgba(232, 232, 232, 0.927);
  padding-bottom: 2vw;
  padding-top: 1vw;
  font-size: 1.5vw;
  color: rgb(58, 58, 58);
  /* display: none; */
}
.menu-link:hover {
  background-color: rgb(199, 199, 199);
}

.menu-enter {
  transform: translateX(-100%);
  /* position: absolute; */
}
.menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s linear;
  /* position: absolute; */
}
.menu-exit {
  transform: translateX(0);
  /* position: fixed; */
}
.menu-exit-active {
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  /* position: fixed; */
}
