.search-bar {
  border: none;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
  position: absolute;
  right: 21vw;
  width: 15vw;
  top: 2.1vw;
  height: 1.5vw;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-results {
  border: 2px solid black;
  position: absolute;
  top: 2vw;
}
