.search-bar {
  border: none;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
  position: absolute;
  right: 21vw;
  width: 20vw;
  top: 2.1vw;
  height: 2.5vh;
  z-index: 100;
  display: flex;
}

.search-results {
  background-color: rgba(228, 228, 228, 0.5);
  position: absolute;
  top: 5vh;
  right: 21vw;
  width: 23vw;
}

.search-result {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 2px 0px 2px;
  padding: 10px;
  font-size: 0.75rem;
  background-color: rgba(228, 228, 228, 1);
}

.search-bar-enter {
  width: 0;
}
.search-bar-enter-active {
  width: 20vw;
  transition: width 0.3s ease-in-out;
}
.search-bar-exit {
  width: 20vw;
}
.search-bar-exit-active {
  width: 0;
  transition: width 0.3s ease-in-out;
}

.search-input {
  border: none;
  border-radius: 20px;
  background-color: rgb(228, 228, 228, 0);
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0;
  justify-self: flex-end;
  align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    top: 3vw;
    right: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .search-bar {
    right: 30vw;
    /* width: 20vw; */
    height: 3vh;
  }
}
