A:link {
  text-decoration: none;
}
.all-nav {
  background-color: #786d60;
  height: 4.5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid rgba(87, 87, 87, 0.3);
}

.option-icons {
  text-align: right;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 15%;
  text-decoration: none;
  color: white;
  margin-right: 5vw;
  margin-top: 1.6vh;
  padding: 2px;
}
.burger-boi {
  border-radius: 20px;
  justify-self: flex-start;
  font-size: 3rem;
  margin-top: 1vh;
  margin-left: 1vw;
  color: rgb(52, 52, 52);
  text-align: center;
}
.all-icons {
  margin-left: -65vw;
  align-self: flex-start;
}
.shopping-cart-icon {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-flow: row nowrap;
}
.shopping-cart-icon:hover {
  transform: scale(1.1);
}
.user-icon:hover {
  transform: scale(1.1);
}
.cart-icon:hover {
  transform: scale(1.1);
}
.search-icon:hover {
  transform: scale(1.1);
}
.burger-boi:hover {
  background-color: #655d53;
}

.user-menu {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  justify-self: flex-start;
  position: absolute;
  right: 0;
  top: 100%;
  font-family: "Josefin Slab", serif;
  z-index: 100;
  background-color: rgba(232, 232, 232, 0.927);
}
.user-link {
  background-color: rgba(232, 232, 232, 0.927);
  color: rgb(58, 58, 58);
  padding: 2vw;
  font-size: 1.5rem;
}
.user-link:hover {
  background-color: rgb(199, 199, 199);
}
.welcome-msg {
  position: absolute;
  left: 15vw;
  font-family: "Staatliches", cursive;
  color: rgb(227, 227, 227);
}

.cart-counter {
  background: red;
  border: 1px solid red;
  border-radius: 30px 30px 30px 30px;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  margin: -5px 0 0 -10px;
  width: 15px;
  height: 15px;
}

.user-menu-enter {
  transform: translateX(100%);
}
.user-menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.user-menu-exit {
  transform: translateX(0);
}
.user-menu-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

@media only screen and (max-width: 1024px) {
  .all-nav {
    height: 5vh;
  }
  .user-menu {
    top: 110%;
  }
  .option-icons {
    width: 25%;
    font-size: 2rem;
  }
  .all-icons {
    margin-left: -55vw;
  }
  .burger-boi {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .all-nav {
    padding-top: 10px;
  }
  .welcome-msg {
    display: none;
  }
  .option-icons {
    margin-top: 1vh;
    margin-right: 0;
    width: 30vw;
    justify-content: space-around;
  }
  .all-icons {
    margin-left: -20vw;
  }
}
